.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 50px;
  flex-wrap: wrap;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  padding-bottom: 2rem;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 0.7rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.checkout {
  color: #212121;
  font-size: 15px;
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.checkout:hover {
  background-color: #212121;
  color: #fff;
}
.form {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.detail input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.detail span {
  margin-bottom: 5px;
  color: red;
}
.input_submit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input_submit:hover {
  background-color: #45a049;
}
.school_list div:nth-child(1) label {
  font-size: 25px;
  font-weight: 600;
  margin-right: 20px;
  color: #212121;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.school_list div:nth-child(1) span {
  font-size: 25px;
  font-weight: 600;
  margin-right: 20px;
  color: #212121;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.school_list div:nth-child(1) span:hover {
  padding: 10px;
  background-color: #212121;
  color: #fff;
  border-radius: 4px;
}
.school_list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.outer_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner_list img {
  width: 100%;
  max-width: 250px;

  height: 250px;
  border-radius: 4px;
}
.inner_list {
  background-color: #f5f7f9;
  border-radius: 4px;
}
.inner_list div {
  padding-left: 20px;
}
.handle_text {
  padding: 10px 0px;
}
.handle_text p {
  padding: 5px 0px;
}
